.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Raw data
Data_raw/*

# Clean data
Data_clean/*

# Images and exported data
images/*
export/*

# Removed code. Should not be committed
R_code/Removed_cleaning_loggers.R
R_code/Paper_calculations.R
R_code/Removed_flux.R